@charset "UTF-8";
/* ================== NavBar ================== */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 62.5%;
  /* [62.5] == [10px] */
}

/* ==== Scrollbar ==== */
::-webkit-scrollbar {
  width: 1.2rem;
}

::-webkit-scrollbar-thumb {
  background: #00d5ff;
  border-radius: 2px;
}

::-webkit-scrollbar-track {
  background: #383838;
  -webkit-box-shadow: inset 2px 2px 2px 0 rgba(245, 245, 245, 0.2);
          box-shadow: inset 2px 2px 2px 0 rgba(245, 245, 245, 0.2);
}

/* ========== ParticlesJS ========== */
body {
  background: #f2f2f2;
}

#Dark {
  background: #1a1a1a;
}

#particles-js {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: -1;
}

/* ========== NavBar ========== */
header.NavBar {
  position: fixed;
  top: 0;
  left: 0;
  height: 5.5rem;
  width: 100%;
  padding: 0 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #f2f2f2;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  z-index: 500;
}

#Dark header.NavBar {
  background: #1a1a1a;
  -webkit-box-shadow: 0px 0px 10px 0px black;
          box-shadow: 0px 0px 10px 0px black;
}

/* Logo[+] */
.NavBar__Logo {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.Logo-SVG {
  width: 4.2rem;
}

.Page-Title {
  font-family: 'Fredoka One', 'Poppins';
  font-size: 2.6rem;
  letter-spacing: 1px;
  color: #1a1a1a;
  margin-left: 0.5rem;
}

#Dark .Page-Title {
  color: #e0e0e0;
}

/* Navigation[+] */
nav.NavBar__Links {
  height: 4rem;
  width: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav.NavBar__Links a {
  font-size: 2rem;
  font-weight: 400;
  text-decoration: none;
  color: #1f1f1f;
  border-bottom: 2px solid transparent;
}

nav.NavBar__Links a:hover {
  color: #290ac2;
  border-bottom: 2px solid #290ac2;
}

#Dark .NavBar__Links a {
  color: #dbdbdb;
}

#Dark .NavBar__Links a:hover {
  color: #00d5ff;
  border-bottom: 2px solid #00d5ff;
}

/* Naviagtion[+] → IconBtn[+]  */
#BtnDark {
  font-size: 2.2rem;
  color: #dbdbdb;
  margin: 0.4rem;
  padding: 0.4rem;
  border-radius: 50%;
  background: #383838;
  cursor: pointer;
}

#BtnDark:hover {
  color: #00d5ff;
}

#Dark #BtnDark:hover {
  color: #00d5ff;
}

/* Special mode for text */
.Glass {
  background: rgba(242, 242, 242, 0.6);
}

#Dark .Glass {
  background: rgba(26, 26, 26, 0.6);
}
