/* ========= Aside ============= */
aside {
   height: 80px;
   width: calc(80px + 20px);
   position: fixed;
   bottom: .5rem;
   right: .5rem;
   display: flex;
   justify-content: space-between;
   z-index: 500;
   transition: 1.5s width ease 0.5s, 1.5s height ease 2.5s;
   opacity: 0.8;
}
aside:hover{
   opacity: 1;
}
aside.Box-Music {
   height: 400px;
   width: 330px;
}

aside iframe {
   height: 100%;
   width: calc(100% - 20px);
}
aside div {
   position: relative;
   height: 100%;
   width: 18px;
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
   background: var(--D-Purple);
}
aside div:after {
   content: '<';
   font-size: 2rem;
}
aside.Box-Music div:after {
   animation: Btn01 4s ease forwards;
   transform-origin: center;
	transform-box: fill-box;
}
@keyframes Btn01 {
   from {transform: rotate(0);}
   to {transform: rotate(180deg);}
}