/* ========= [Footer] ======== */
footer {
   height: 10rem;
   position: relative;
   bottom: 0;
   left: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   background: var(--Backgroud);
   box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
}
hgroup h5 {
   font-weight: 500;
   font-size: 1.6rem;
}
