/* ========== For All The Main Content ========== */
main {
   position: relative;
   width: var(--Vw);
   padding-top: 5.5rem;
}
main img {
   z-index: 10;
}
main p {
   text-align: justify;
}

h2 {
   font-family: 'Poppins', sans-serif;
   font-weight: 500;
   font-size: 3rem;
   margin-bottom: 1rem;
}
h3 {
   font-family: 'Poppins', sans-serif;
   font-weight: 400;
   font-size: 2.5rem;
   margin-bottom: 0.8rem;
}
h4 {
   font-family: 'Poppins', sans-serif;
   font-weight: 500;
   font-size: 2rem;
   margin-bottom: 0.8rem;
}
p {
   font-family: 'Poppins', sans-serif;
   font-weight: 300;
   font-size: 1.8rem;
   padding: 1rem 0;
}
i {
   font-size: 1.8rem;
}



/* ===== [The Background of The Text] ==== */
.Background {
   background: var(--Backgroud);
   z-index: 9;
}
.Background-Sp {
   background: hsla(0, 0%, 96%, 0.6);
}


/* ========== [Empty-Box for Link-Name] ========== */
.Empty {
   height: var(--Vh);
   width: 100%;
   position: relative;
   /* background: blue; */
   z-index: 8;
}