/* ========= [Intro] ======== */
#Introduction {
   position: relative;
   top: calc(-1 * var(--Vh));
}
section.Intro {
   height: calc(100vh - var(--Vh));
   width: var(--Vw);
   position: relative;
   display: flex;
   align-items: center;
   justify-content: right;
   overflow: hidden;
}

/* [IMG] */
.Waves-09__II {
   width: 54vw;
   position: absolute;
   top: 0;
   left: 0;
   transform: rotate(180deg) scaleX(-1);
}
.Relax__II {
   width: 22vw;
   position: absolute;
   top: 4vw;
   left: 2vw;
}

/* [+] */
.Intro__Text {
   text-align: right;
   margin-right: 8vw;
   width: 45vw;
   z-index: 10;
}