/* ================== CSS ================== */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 62.5%;
  /* [62.5] == [10px] */
}

html {
  scroll-behavior: smooth;
}

/* ==== Scrollbar ==== */
::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background: #525252;
}

::-webkit-scrollbar-thumb {
  background: #33ddff;
}

/* ========== ParticlesJS ========== */
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, right bottom, left top, from(#1a1a1a), to(#1a1a1a));
  background: linear-gradient(to top left, #1a1a1a 0%, #1a1a1a 100%);
}

#particles-js {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: -1;
}

/* ========== Grid-Container ========== */
.Grid-Container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1200px;
}

/* ========== Navigation ========== */
header.NavBar {
  position: relative;
  top: 0;
  left: 0;
  height: 5.5rem;
  width: 100%;
  padding: 0 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: -webkit-gradient(linear, right bottom, left top, from(#1a1a1a), to(#1a1a1a));
  background: linear-gradient(to top left, #1a1a1a 0%, #1a1a1a 100%);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  z-index: 500;
}

/* header [+] */
.NavBar__Logo {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.Logo-SVG {
  width: 4.2rem;
}

.Page-Title {
  font-family: 'Fredoka One', 'Poppins';
  font-size: 2.6rem;
  color: #e6e6e6;
  margin-left: 0.5rem;
}

/* header [+] */
nav.NavBar__Links {
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.NavBar__Links ul {
  width: 35rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

.NavBar__Links ul a {
  font-size: 2rem;
  font-weight: 400;
  text-decoration: none;
  color: #e0e0e0;
}

.NavBar__Links ul a.Active-Home, .NavBar__Links ul a:hover {
  color: #290ac2;
  border-bottom: 2px solid #290ac2;
}

#Hamburger {
  display: none;
  font-size: 2.4rem;
  color: #e0e0e0;
  margin: 0.4rem;
  padding: 0.4rem;
  cursor: pointer;
}

#Hamburger:hover {
  color: #290ac2;
  background: #ccc;
}
