$PrimaryMain:     hsl(0, 0%, 10%);
$SecondaryMain:   hsl(0, 0%, 12%);
$TerciaryMain:    hsl(0, 0%, 14%);
$QuaternaryMain:  hsl(0, 0%, 16%);
$ConfigMain:      hsl(0, 0%, 95%);
$WhiteGlass:      hsla(0, 0%, 95%,.6);
$LinkMain:        hsl(250, 90%, 40%);
$ShadowMain:      hsl(0, 0%, 80%);

$PrimaryDark:     hsl(0, 0%, 88%);
$SecondaryDark:   hsl(0, 0%, 86%);
$TerciaryDark:    hsl(0, 0%, 84%);
$QuaternaryDark:  hsl(0, 0%, 82%);
$ConfigDark:      hsl(0, 0%, 10%);
$DarkGlass:       hsla(0, 0%, 10%,.6);
$LinkDark:        hsl(190, 100%, 50%);
$ShadowDark:      hsl(0, 0%, 22%);

$Purple-VL: hsla(270, 100%, 80%, 100%);
$Purple-L:  hsla(305, 100%, 70%, 90%);
$D-Purple:  hsla(270, 85%, 60%, 100%);
$VD-Purple: hsla(250, 90%, 40%, 90%);

$NavBar: 5.5rem;
$HomePage-Y: 100vh;
$Menu-X: 30rem;
$Menu-Y: calc(100vh - 5.5rem);

@function size($x) {
   $Unit: 1rem;
   @return $x * $Unit;
}