// [Sass]:[Text]:[Config-Main]

$PrimaryMain:     hsl(0, 0%, 10%);
$SecondaryMain:   hsl(0, 0%, 12%);
$TerciaryMain:    hsl(0, 0%, 14%);
$QuaternaryMain:  hsl(0, 0%, 16%);
$LinkMain: hsl(250, 90%, 40%);
$ShadowMain: hsl(0, 0%, 80%);

$PrimaryDark:     hsl(0, 0%, 88%);
$SecondaryDark:   hsl(0, 0%, 86%);
$TerciaryDark:    hsl(0, 0%, 84%);
$QuaternaryDark:  hsl(0, 0%, 82%);
$LinkDark: hsl(190, 100%, 50%);
$ShadowDark: hsl(0, 0%, 22%);

$Purple-VL: hsla(270, 100%, 80%, 100%);
$Purple-L:  hsla(305, 100%, 70%, 90%);
$D-Purple:  hsla(270, 85%, 60%, 100%);
$VD-Purple: hsla(250, 90%, 40%, 90%);

$ConfigMain: linear-gradient(
   to top left, 
   hsl(0, 0%, 95%) 0%,
   hsl(0, 0%, 95%) 100%
);
$ConfigDark: linear-gradient(
   to top left, 
   hsl(0, 0%, 10%) 0%,
   hsl(0, 0%, 10%) 100%
);

$NavBar: 5.5rem;

@function size($x) {
   $Unit: 1rem;
   @return $x * $Unit;
}



/* ================== NavBar ================== */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
   font-size: 62.5%; /* [62.5] == [10px] */
}

html {
   scroll-behavior: smooth;
}

/* ==== Scrollbar ==== */
::-webkit-scrollbar {
   width: 1.2rem;
}
::-webkit-scrollbar-thumb {
   background: $LinkDark;
   border-radius: 2px;
}
::-webkit-scrollbar-track {
   background: $ShadowDark;
}


/* ========== ParticlesJS ========== */
body {
   background: $ConfigMain;
}
#Dark {
   background: $ConfigDark;
}
#particles-js {
   height: 100vh;
   width: 100vw;
   position: fixed;
   z-index: -1;
}


/* ========== NavBar ========== */
header.NavBar {
   position: fixed;
   top: 0;
   left: 0;
   
   height: $NavBar;
   width: 100vw;
   padding: 0 3.5rem;
   
   display: flex;
	align-items: center;
	justify-content: space-between;
   
   background: $ConfigMain;
   box-shadow: 0px 0px 10px 0px rgba(0,0,0,.3);
   z-index: 500;
}
#Dark header.NavBar {
   background: $ConfigDark;
   box-shadow: 0px 0px 10px 0px rgb(0,0,0);
}


/* Logo[+] */
.NavBar__Logo {
   height: 100%;
	display: flex;
	align-items: center;
	text-decoration: none;
}
.Logo-SVG {
   width: 4.2rem;
}
.Page-Title {
   font-family: 'Fredoka One', 'Poppins';
   font-size: size(2.6);
   letter-spacing: 1px;
   color: $PrimaryMain;
   margin-left: 0.5rem;
}
#Dark .Page-Title {
   color: $PrimaryDark;
}


/* Navigation[+] */
nav.NavBar__Links {
   height: 4rem;
   width: 35rem;
   display: flex;
   align-items: center;
   justify-content: space-between;

   a {
      // display: none;
      font-size: size(2);
      font-weight: 400;
      text-decoration: none;
      color: $SecondaryMain;
      border-bottom: 2px solid transparent;

      &.Active-Home,
      &:hover {
         color: $LinkMain;
         border-bottom: 2px solid $LinkMain;
      }
   }
}
#Dark .NavBar__Links {
   a {
      color: $SecondaryDark;

      &.Active-Home,
      &:hover {
         color: $LinkDark;
         border-bottom: 2px solid $LinkDark;
      }
   }
}

/* Naviagtion[+] → IconBtn[+]  */
#BtnDark {
   font-size: size(2.2);
   color: $SecondaryDark;
   margin: 0.4rem;
   padding: 0.4rem;
   border-radius: 50%;
   background: $ShadowDark;
   cursor: pointer;

   &:hover {
      color: $LinkDark;
   }
}
#Dark #BtnDark:hover {
   color: $LinkDark;
}
