// [Sass]:[Text]:[Config-Main]
@import "A00-Variables.scss";


/* ================== div Grid-[Video] ================== */
div.Grid-Container {
   width: 100%;
   // height: calc(23 * 100vh);
   display: grid;
   grid-template-columns: $Menu-X 1fr;
   grid-template-rows: $HomePage-Y $Menu-Y 1fr;
   grid-template-areas: 
      "Home   Home"
      "Aside  Main"
      ".      Main"
   ;
   // background: #111;
}

div#Home { grid-area: Home; }
aside { grid-area: Aside; }
main { grid-area: Main; }