// [Sass]:[Text]:[Config-Main]
@import "A00-Variables.scss";

/* ================== Section Videos ================== */
article.Grid-Videos {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 5rem repeat(2, 1fr);
   gap: 1rem;
   overflow: hidden;
}

.Grid-Videos h3 {
   grid-column: 1 / span 2;
}

.Wrapper {
   position: relative;
   padding-bottom: 56.25%; /* 16:9 */
   height: 0;
 }
 .Wrapper iframe {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   min-height: 181px;
   min-width: 322px;
 }