// [Sass]:[Text]:[Config-Main]
@import "A00-Variables.scss";


/* ================== div About ================== */
#About {
   padding: 0 6rem 6rem;
}


div.About {
   display: flex;
   min-height: 50rem;

   div.About__Text {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      padding-right: 20px;

      h2 {
         font-family: 'Poppins', sans-serif;
         font-weight: 500;
         font-size: size(3);
         color: $PrimaryMain;
         margin-bottom: 1rem;
      }
      
      p {
         font-family: 'Poppins', sans-serif;
         font-weight: 300;
         font-size: size(1.8);
         color: $SecondaryMain;
         text-align: justify;
         padding: 1rem 0;
      }
   }

   div.Tree-Svg {
      position: relative;
      display: flex;
      flex-basis: 50rem;
      flex-shrink: 0;
   
      #Tree-swing {
         width: 100%;
         height: 50rem;
         position: absolute;
         bottom: 0;
         right: 0;
         transform: translateY(4rem);

         #Girl-Swing {
            animation: Swing 8s normal;
            animation-iteration-count: infinite;
            transform-origin: top;
            transform-box: fill-box;
         }
   
         #High-Leaves path {
            animation: HighLeaves 8s normal;
            animation-iteration-count: infinite;
            transform-origin: bottom right;
            transform-box: fill-box;
         }
   
         #High-Leaves path:nth-child(2),
         #High-Leaves path:nth-child(3) {
            transform-origin: bottom left;
         }
   
         #Low-Leaves-01,
         #Low-Leaves-02 {
            animation: LowLeaves 8s normal;
            animation-iteration-count: infinite;
            transform-origin: bottom;
            transform-box: fill-box;
         }
   
         #Low-Leaves-03 {
            animation: LowLeaves2 8s normal;
            animation-iteration-count: infinite;
            transform-origin: bottom left;
            transform-box: fill-box;
         }
      }
   }
}

#Dark #About {
   .About {
      h2 {color: $PrimaryDark;}
      p {color: $SecondaryDark;}
   }
   div.Tree-Svg {
      filter: drop-shadow(0px 0px 2px hsl(250, 0%, 100%));
   }
}





// ========== [@ Key Frames] ============== //
@keyframes Swing {
   0% {transform: rotateZ(22deg);}
   50% {transform: rotateZ(-22deg) translateY(8px);}
   100% {transform: rotateZ(22deg);}
}
@keyframes HighLeaves {
   0% {transform: rotate(10deg) scale(1);}
   50% {transform: rotate(-10deg) scale(0.5);}
   100% {transform: rotate(10deg) scale(1);}
}
@keyframes LowLeaves {
   0% {transform: rotate(-30deg) translateY(5px);}
   50% {transform: rotate(50deg) translateY(-15px);}
   100% {transform: rotate(-30deg) translateY(5px);}
}
@keyframes LowLeaves2 {
   0% {transform: rotate(-80deg) translateY(2px);}
   50% {transform: rotate(15deg) translateY(-2px);}
   100% {transform: rotate(-80deg) translateY(2px);}
}